body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.header p {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 70px;
}

.left-container p {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.left-container sub {
    font-size: 18px;
    color: #E5E7EB;
}

.left-container button {
    font-weight: 700;
    color: #E5E7EB;
    padding: 8px 30px;
    background-color: #3882F6;
    border: none;
    border-radius: 6px;
}

.right-container {
    display: flex;
    justify-content: right;
    flex: 2;
}

.right-container button {
    width: 600px;
    height: 220px;
    color: white;
    background-color: #6d747d;
    border: none;
}

.information {
    background-color: white;
}

.information p {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
    gap: 50px;
}

.info-content div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 6px;
    flex-basis: 150px;
}

.info-content button{
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    background-color: white;
    border-radius: 10px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 100px 230px;
}

.quote-section p {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    text-align: left;
    margin: 0;
}

.quote-section div {
    font-size: 24px;
    text-align: end;
    font-weight: bold;
}

.call-section {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 90px 150px;
}

.container {
    display: flex;
    background-color: #3882F6;
    width: 700px;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 6px;
}

.main-text p {
    color: white;
    font-weight: 500;
    margin: 0;
}

.main-text sub {
    color: #d1dced;
}

.sign-up button {
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 4px 16px;
    font-weight: 700;
}



